@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  margin: 0px;
  padding: 0px;
  background: #080808;
  scroll-behavior: smooth;
}
* {
  --color-text: #fffadf;
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}
body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: transparent;
  top: 0;
}

main {
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}
