.photo-audio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  min-height: calc(100% - 2vw);
  /* position: fixed; */
  top: 0px;
  /* overflow: hidden; */
  /* padding-top: 50px; */
  padding-bottom: 2vw;
  height: auto; /* OK */
}

.photo-audio h1 {
  font-size: 1.3rem;
  text-align: left;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: calc(93vw - 20px - 6vw);

  background-color: var(--color-text);
  color: var(--color-dark) !important;
  padding: calc(20px + 4vh) calc(10px + 3vw);
  align-items: left;
  justify-content: left;
  gap: 3vh;
}

.content p {
  width: 100%;
  margin: 0px;
  color: var(--color-dark);
}

@media (max-width: 768px) {
  .photo-audio {
    gap: 1rem;
  }
  .content {
    margin-left: 0;
  }
}
